<header class="head" >
    <img src='assets/cars.jpg' style="width: 100%;">
    <div class="container intro" >
        <h2>Welcome To Our Company!</h2>
        <h1>IT'S NICE TO MEET YOU </h1>
        <br>
        <a type="button" class="btn btn-warning btn-lg" href="#SERVICES">TELL ME MORE</a>
    </div>
    
</header>
<div style="width: 100%; background-color: #dbdbdb;">
<section class="container text-center" id="SERVICES">
    <br><br><br>
    <h1>SERVICES</h1>
    <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</P>
    <br><br><br>
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <span class="fa-stack fa-2x" style="font-size: 70px;">
                    <i class="fas fa-circle fa-stack-2x" style="color:#fed136 ;"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">
                    <h2> Fixing</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-2x" style="font-size: 70px;">
                    <i class="fas fa-circle fa-stack-2x" style="color:#fed136 ;"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">
                    <h2> Maintance</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-2x" style="font-size: 70px;">
                    <i class="fas fa-circle fa-stack-2x" style="color:#fed136 ;"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <div class="text-center">
                    <h2> Security</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

