<section id="team">
    <br><br><br>
    <div class="container" >
        <div class="row">
            <div class="col-12 text-center">
                <h1>Our Amazing Team</h1>
                <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</P>
                <br><br><br>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/team/1.jpg" class="img-fluid rounded-circle" style="border: 4px solid #dbdbdb;">
                    <div class="text-center">
                        <h2>Kay Garland</h2>
                        <p class="text-muted">Lead Design</p>
                        <a href="#"><i class="fab fa-twitter-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-facebook-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="assets/team/2.jpg" class="img-fluid rounded-circle" style="border: 4px solid #dbdbdb;">
                    <div class="text-center">
                        <h2>Kay Garland</h2>
                        <p class="text-muted">Lead Design</p>
                        
                        <a href="#"><i class="fab fa-twitter-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-facebook-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="assets/team/3.jpg" class="img-fluid rounded-circle" style="border: 4px solid #dbdbdb;">
                    <div class="text-center">
                        <h2>Kay Garland</h2>
                        <p class="text-muted">Lead Design</p>
                    
                        <a href="#"><i class="fab fa-twitter-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-facebook-square" style="font-size: 35px;"></i></a>
                        <a href="#"><i class="fab fa-linkedin" style="font-size: 35px;"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
               
                <P class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</P>
                <br><br><br>
            </div>
        </div>
    </div>    
       
        
   
       
</section>
